1. The process of downloading major stock indices data provided by Yahoo Finance and processing as Dataframe
    - Continue from "01_03 yahoo_finance stock_indices download multi ticker.ipynb"
    - Create DataFrame with fill value    
    - Download multi historical price data from yahoo finance
        - Input : Historical price DataFrame
        - Output: Index DataFrames with fill value, Export Dataframe to excel file or csv file

In [1]:
# Loading Python Packages to use 
import yfinance as yf
import pandas as pd
import numpy as np
import datetime as dt                

# use the code from "01_03 yahoo_finance stock_indices download multi ticker.ipynb"

major_indices = pd.DataFrame(pd.read_html("https://finance.yahoo.com/world-indices")[0])

# Slicing columns
i = 5                                       # set column counter variable, change i to slicing columns
major_indices1 = major_indices.iloc[:, :i]  # create another dataframe 'major_indices1'
major_indices1
drop_row_index_list = [3,4,5,7,11,12,13,14,20,25,28,31,33,34,35]  

major_indices2 = major_indices.drop(drop_row_index_list,axis=0)       
major_indices1_2 = major_indices1.drop(drop_row_index_list,axis=0) #Datafrmae to use 

Tks=major_indices1_2['Symbol'].values.tolist()

# Declare historical price variables[symbols('ticker'), date, interval, etc]
# yf.download(ticker, start, end, interval, etc) input varibales:'ticker', 'start=', 'end=', 'interval=' etc
tk = Tks                    # Use ticker list 'Tks' of 'Symbol' from DataFrame 'major_indices1_2' 

s_d = '2007-12-20'          # start date
e_d = '2022-12-31'          # end date, if it is up to today, just drop 'end' parameter
periods = 'ytd'             # Valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
interval='1d'               # Valid interval : Daily;'1D', Weekly:'1wk',monthly:'1mo', 3month :'3mo'                        
# Download from start date to end date
df = pd.DataFrame(yf.download(tk,start=s_d,end=e_d,interval=interval)['Adj Close'])
df

[*********************100%***********************]  21 of 21 completed

,000001.SS,399001.SZ,^AORD,^BSESN,^BVSP,^DJI,^FCHI,^FTSE,^GDAXI,^GSPC,...,^IXIC,^JKSE,^KLSE,^KS11,^MERV,^MXX,^N225,^RUT,^STI,^TWII
Date,,,,,,,,,,,,,,,,,,,,,
2007-12-19,4941.784180,16386.826172,NaN,19091.960938,61722.0,13207.269531,5497.419922,6284.500000,7837.319824,1453.000000,...,2601.010010,2657.977051,1387.209961,NaN,2130.100098,29074.119141,NaN,756.130005,3357.340088,8014.279297
2007-12-20,5043.535156,16625.224609,6244.799805,19162.570312,61716.0,13245.639648,5511.450195,6345.600098,7869.189941,1460.119995,...,2640.860107,NaN,NaN,1844.369995,2140.300049,29148.449219,15031.599609,767.539978,NaN,7857.050293
2007-12-21,5101.778809,16808.490234,6309.399902,NaN,63098.0,13450.650391,5602.770020,6434.100098,8002.669922,1484.459961,...,2691.989990,NaN,1403.560059,1878.319946,2145.300049,29638.400391,15257.000000,785.599976,3398.100098,7941.409668
2007-12-24,5234.262207,17153.736328,6388.000000,19854.119141,NaN,13550.040039,5614.279785,6479.299805,NaN,1496.449951,...,2713.500000,NaN,1423.239990,1919.469971,NaN,29853.769531,NaN,794.390015,3434.530029,8135.449219
2007-12-25,5201.181152,17198.845703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15552.589844,NaN,NaN,8167.039062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-26,3065.562988,10978.990234,NaN,60566.421875,108738.0,NaN,NaN,NaN,NaN,NaN,...,NaN,6835.808105,NaN,2317.139893,192477.406250,50273.890625,26405.869141,NaN,NaN,14285.129883
2022-12-27,3095.570068,11106.500000,NaN,60927.429688,108347.0,33241.558594,6550.660156,NaN,13995.099609,3829.250000,...,10353.230469,6923.026855,1474.689941,2332.790039,195542.796875,50440.019531,26447.869141,1749.520020,3266.379883,14328.429688
2022-12-28,3087.399902,11010.530273,7262.200195,60910.281250,110237.0,32875.710938,6510.490234,7497.200195,13925.599609,3783.219971,...,10213.290039,6850.520020,1480.109985,2280.449951,202560.203125,49648.210938,26340.500000,1722.020020,3266.969971,14173.099609
2022-12-29,3073.699951,10996.410156,7197.299805,61133.878906,110031.0,33220.800781,6573.470215,7512.700195,14071.719727,3849.280029,...,10478.089844,6860.077148,1491.630005,2236.399902,199360.703125,49517.859375,26093.669922,1766.250000,3249.239990,14085.019531
2022-12-30,3089.260010,11015.990234,7221.700195,60840.738281,NaN,33147.250000,6473.759766,7451.700195,13923.589844,3839.500000,...,10466.480469,6850.619141,1495.489990,NaN,202085.093750,48463.859375,26094.500000,1761.250000,3251.320068,14137.690430

2. Fill missing values
    - Due to the different financial market closed date, the downloaded data has 'NaN(Not a number)' values
    - To calculate and compare index returns, need to fill NaN value with privious value

In [2]:
# 2.1 count Nan values
df.isnull().sum()

000001.SS    262
399001.SZ    262
^AORD        118
^BSESN       227
^BVSP        198
^DJI         130
^FCHI         71
^FTSE        120
^GDAXI       105
^GSPC        130
^HSI         211
^IXIC        130
^JKSE        262
^KLSE        233
^KS11        205
^MERV        263
^MXX         145
^N225        243
^RUT         130
^STI         164
^TWII        226
dtype: int64

In [3]:
#2.2 Reset date index to fill process

df1=df.reset_index()            # date필드 설정을 위해서 인덱스를 해제
df1

,Date,000001.SS,399001.SZ,^AORD,^BSESN,^BVSP,^DJI,^FCHI,^FTSE,^GDAXI,...,^IXIC,^JKSE,^KLSE,^KS11,^MERV,^MXX,^N225,^RUT,^STI,^TWII
0,2007-12-19,4941.784180,16386.826172,NaN,19091.960938,61722.0,13207.269531,5497.419922,6284.500000,7837.319824,...,2601.010010,2657.977051,1387.209961,NaN,2130.100098,29074.119141,NaN,756.130005,3357.340088,8014.279297
1,2007-12-20,5043.535156,16625.224609,6244.799805,19162.570312,61716.0,13245.639648,5511.450195,6345.600098,7869.189941,...,2640.860107,NaN,NaN,1844.369995,2140.300049,29148.449219,15031.599609,767.539978,NaN,7857.050293
2,2007-12-21,5101.778809,16808.490234,6309.399902,NaN,63098.0,13450.650391,5602.770020,6434.100098,8002.669922,...,2691.989990,NaN,1403.560059,1878.319946,2145.300049,29638.400391,15257.000000,785.599976,3398.100098,7941.409668
3,2007-12-24,5234.262207,17153.736328,6388.000000,19854.119141,NaN,13550.040039,5614.279785,6479.299805,NaN,...,2713.500000,NaN,1423.239990,1919.469971,NaN,29853.769531,NaN,794.390015,3434.530029,8135.449219
4,2007-12-25,5201.181152,17198.845703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15552.589844,NaN,NaN,8167.039062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3910,2022-12-26,3065.562988,10978.990234,NaN,60566.421875,108738.0,NaN,NaN,NaN,NaN,...,NaN,6835.808105,NaN,2317.139893,192477.406250,50273.890625,26405.869141,NaN,NaN,14285.129883
3911,2022-12-27,3095.570068,11106.500000,NaN,60927.429688,108347.0,33241.558594,6550.660156,NaN,13995.099609,...,10353.230469,6923.026855,1474.689941,2332.790039,195542.796875,50440.019531,26447.869141,1749.520020,3266.379883,14328.429688
3912,2022-12-28,3087.399902,11010.530273,7262.200195,60910.281250,110237.0,32875.710938,6510.490234,7497.200195,13925.599609,...,10213.290039,6850.520020,1480.109985,2280.449951,202560.203125,49648.210938,26340.500000,1722.020020,3266.969971,14173.099609
3913,2022-12-29,3073.699951,10996.410156,7197.299805,61133.878906,110031.0,33220.800781,6573.470215,7512.700195,14071.719727,...,10478.089844,6860.077148,1491.630005,2236.399902,199360.703125,49517.859375,26093.669922,1766.250000,3249.239990,14085.019531
3914,2022-12-30,3089.260010,11015.990234,7221.700195,60840.738281,NaN,33147.250000,6473.759766,7451.700195,13923.589844,...,10466.480469,6850.619141,1495.489990,NaN,202085.093750,48463.859375,26094.500000,1761.250000,3251.320068,14137.690430

In [4]:
# 2.3 Get all dates within the sample period (데이터에 없는 날짜 채우기)
start_date = df1['Date'].astype(str).iloc[0] # first date of Dataframe df1
end_date = df1['Date'].astype(str).iloc[-1]  # last date of Dataframe df1   
print(start_date)
print(end_date)

# date_range function include both sarting date and ending date, but yahoo download data from 1day before starting date to 1day before ending date

date_all = pd.date_range(start_date, end_date, freq='D').to_frame().rename(columns={0:'Date'}).reset_index(drop=True) # 기간 중 빈날짜 채우기
date_all

2007-12-19
2022-12-30

           Date
0    2007-12-19
1    2007-12-20
2    2007-12-21
3    2007-12-22
4    2007-12-23
...         ...
5486 2022-12-26
5487 2022-12-27
5488 2022-12-28
5489 2022-12-29
5490 2022-12-30

[5491 rows x 1 columns]

In [5]:
#2.4 Merge two dataframes and fill NaN value with previous value
df1_all = pd.merge(date_all,df1,how='left')     # 두 개의 데이타프레임을 합쳐서 모든 날짜를 포함하고 빈 데이타는 다음 데이타로 채움
df1_all = df1_all.fillna(method='ffill')
df1_all

,Date,000001.SS,399001.SZ,^AORD,^BSESN,^BVSP,^DJI,^FCHI,^FTSE,^GDAXI,...,^IXIC,^JKSE,^KLSE,^KS11,^MERV,^MXX,^N225,^RUT,^STI,^TWII
0,2007-12-19,4941.784180,16386.826172,NaN,19091.960938,61722.0,13207.269531,5497.419922,6284.500000,7837.319824,...,2601.010010,2657.977051,1387.209961,NaN,2130.100098,29074.119141,NaN,756.130005,3357.340088,8014.279297
1,2007-12-20,5043.535156,16625.224609,6244.799805,19162.570312,61716.0,13245.639648,5511.450195,6345.600098,7869.189941,...,2640.860107,2657.977051,1387.209961,1844.369995,2140.300049,29148.449219,15031.599609,767.539978,3357.340088,7857.050293
2,2007-12-21,5101.778809,16808.490234,6309.399902,19162.570312,63098.0,13450.650391,5602.770020,6434.100098,8002.669922,...,2691.989990,2657.977051,1403.560059,1878.319946,2145.300049,29638.400391,15257.000000,785.599976,3398.100098,7941.409668
3,2007-12-22,5101.778809,16808.490234,6309.399902,19162.570312,63098.0,13450.650391,5602.770020,6434.100098,8002.669922,...,2691.989990,2657.977051,1403.560059,1878.319946,2145.300049,29638.400391,15257.000000,785.599976,3398.100098,7941.409668
4,2007-12-23,5101.778809,16808.490234,6309.399902,19162.570312,63098.0,13450.650391,5602.770020,6434.100098,8002.669922,...,2691.989990,2657.977051,1403.560059,1878.319946,2145.300049,29638.400391,15257.000000,785.599976,3398.100098,7941.409668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5486,2022-12-26,3065.562988,10978.990234,7287.799805,60566.421875,108738.0,33203.929688,6504.899902,7473.000000,13940.929688,...,10497.860352,6835.808105,1474.680054,2317.139893,192477.406250,50273.890625,26405.869141,1760.930054,3257.699951,14285.129883
5487,2022-12-27,3095.570068,11106.500000,7287.799805,60927.429688,108347.0,33241.558594,6550.660156,7473.000000,13995.099609,...,10353.230469,6923.026855,1474.689941,2332.790039,195542.796875,50440.019531,26447.869141,1749.520020,3266.379883,14328.429688
5488,2022-12-28,3087.399902,11010.530273,7262.200195,60910.281250,110237.0,32875.710938,6510.490234,7497.200195,13925.599609,...,10213.290039,6850.520020,1480.109985,2280.449951,202560.203125,49648.210938,26340.500000,1722.020020,3266.969971,14173.099609
5489,2022-12-29,3073.699951,10996.410156,7197.299805,61133.878906,110031.0,33220.800781,6573.470215,7512.700195,14071.719727,...,10478.089844,6860.077148,1491.630005,2236.399902,199360.703125,49517.859375,26093.669922,1766.250000,3249.239990,14085.019531
5490,2022-12-30,3089.260010,11015.990234,7221.700195,60840.738281,110031.0,33147.250000,6473.759766,7451.700195,13923.589844,...,10466.480469,6850.619141,1495.489990,2236.399902,202085.093750,48463.859375,26094.500000,1761.250000,3251.320068,14137.690430

3. Create Year-end, month-end price Dataframes
    - Add last date in order to calculate YTD(Year to date), MTD(Month to date)

In [6]:
#3.1 Create year-end price dataframe including last date and chage colume name from ticker to index name
year_end = pd.date_range(start_date, end_date, freq='Y')  # Year end 날짜 리스트를 구하기
df_y=pd.DataFrame(year_end)                     # 연말날자 리스트를 데이타프레임으로 만들기

df_y.loc[len(df_y)]=df1.iloc[-1,0]           #최종일자 행추가
df_y.columns=['Date']                        #column name set as 'date'

df_y=pd.merge(df_y,df1_all, how='left')    # 최종날자를 포함하고 있는 연말 날자 데이타프레임으로 합치기
df_y

,Date,000001.SS,399001.SZ,^AORD,^BSESN,^BVSP,^DJI,^FCHI,^FTSE,^GDAXI,...,^IXIC,^JKSE,^KLSE,^KS11,^MERV,^MXX,^N225,^RUT,^STI,^TWII
0,2007-12-31,5261.562988,17700.419922,6421.000000,20286.990234,63886.0,13264.820312,5614.080078,6456.899902,8067.319824,...,2652.280029,2745.825928,1445.030029,1897.130005,2151.699951,29536.830078,15307.780273,766.030029,3482.300049,8506.248047
1,2008-12-31,1820.805054,6485.437012,3659.300049,9647.309570,37550.0,8776.389648,3217.969971,4434.200195,4810.200195,...,1577.030029,1355.407959,876.750000,1124.469971,1079.699951,22380.320312,8859.559570,499.450012,1761.560059,4591.203125
2,2009-12-31,3277.138916,13699.816406,4882.700195,17464.810547,68588.0,10428.049805,3936.330078,5412.899902,5957.430176,...,2269.149902,2534.355957,1272.780029,1682.770020,2320.699951,32120.470703,10546.440430,625.390015,2879.760010,8188.079102
3,2010-12-31,2808.076904,12458.410156,4846.899902,20509.089844,69305.0,11577.509766,3850.760010,5899.899902,6914.189941,...,2652.870117,3703.511963,1518.910034,2051.000000,3523.600098,38243.140625,10228.919922,783.650024,3190.040039,8972.466797
4,2011-12-31,2199.416992,8918.720703,4111.000000,15454.919922,56754.0,12217.559570,3159.810059,5572.299805,5898.350098,...,2605.149902,3821.991943,1530.729980,1825.739990,2462.600098,37077.519531,8455.349609,740.919983,2646.350098,7072.054199
5,2012-12-31,2269.127930,9116.377930,4664.600098,19426.710938,60952.0,13104.139648,3620.250000,5897.799805,7612.390137,...,3019.510010,4316.687012,1688.949951,1997.050049,2854.300049,43705.828125,10395.179688,849.349976,3167.080078,7699.471191
6,2013-12-31,2115.978027,8121.699219,5353.100098,21170.679688,51507.0,16576.660156,4295.950195,6749.100098,9552.160156,...,4176.589844,4274.176758,1866.959961,2011.339966,5391.000000,42958.820312,16291.309570,1163.640015,3167.429932,8611.477539
7,2014-12-31,3234.677002,11014.497070,5388.600098,27499.419922,50007.0,17823.070312,4272.750000,6566.100098,9805.549805,...,4736.049805,5226.946777,1761.250000,1915.589966,8579.000000,43145.660156,17450.769531,1204.699951,3365.149902,9307.225586
8,2015-12-31,3539.181885,12664.748047,5344.600098,26117.539062,43350.0,17425.029297,4677.140137,6242.299805,10743.009766,...,5007.410156,4593.007812,1692.510010,1961.310059,11675.200195,42977.500000,19033.710938,1135.890015,2882.729980,8338.027344
9,2016-12-31,3103.636963,10177.025391,5719.100098,26626.460938,60227.0,19762.599609,4862.310059,7142.799805,11481.059570,...,5383.120117,5296.710938,1641.729980,2026.459961,16917.900391,45642.898438,19114.369141,1357.130005,2880.760010,9253.493164
10,2017-12-31,3307.172119,11040.407227,6167.299805,34056.828125,76402.0,24719.220703,5312.560059,7687.799805,12917.639648,...,6903.390137,6355.653809,1796.810059,2467.489990,29974.500000,49354.421875,22764.939453,1535.510010,3402.919922,10642.860352
11,2018-12-31,2493.895996,7239.790039,5709.399902,36068.328125,87887.0,23327.460938,4730.689941,6728.100098,10558.959961,...,6635.279785,6194.498047,1690.579956,2041.040039,30292.599609,41640.269531,20014.769531,1348.560059,3068.760010,9727.410156
12,2019-12-31,3050.124023,10430.769531,6802.399902,41253.738281,115964.0,28538.439453,5978.060059,7542.399902,13249.009766,...,8972.599609,6299.539062,1588.760010,2197.669922,41671.398438,43541.019531,23656.619141,1668.469971,3222.830078,11997.139648
13,2020-12-31,3473.069092,14470.679688,6850.600098,47751.328125,119306.0,30606.480469,5551.410156,6460.500000,13718.780273,...,12888.280273,5979.073242,1627.209961,2873.469971,51226.500000,44066.878906,27444.169922,1974.859985,2843.810059,14732.530273
14,2021-12-31,3639.780029,14857.349609,7779.200195,58253.820312,104822.0,36338.300781,7153.029785,7384.500000,15884.860352,...,15644.969727,6581.481934,1567.530029,2977.649902,83500.101562,53272.441406,28791.710938,2245.310059,3123.679932,18218.839844
15,2022-12-30,3089.260010,11015.990234,7221.700195,60840.738281,110031.0,33147.250000,6473.759766,7451.700195,13923.589844,...,10466.480469,6850.619141,1495.489990,2236.399902,202085.093750,48463.859375,26094.500000,1761.250000,3251.320068,14137.690430

In [7]:
#3.2 Set year as index and change column name

df_y['Year']=df_y['Date'].dt.year           # 날자에서 연도항목을 추출하여 인덱스로 설정
df_y=df_y.set_index('Year', drop=True)      # 연도컬럼을 다시 인덱스로 설정
df_y=df_y.iloc[:,1:]          
     
col_list=df_y.columns.to_list()        # df_y 의 컬럼을 리스트로 만든다

df_name=pd.DataFrame(col_list)
df_name.columns=['Symbol']
df_name1=pd.merge(df_name, major_indices, how='left')
df_name1=df_name1['Name'].to_list()
df_y.columns=df_name1
df_y

,SSE Composite Index,Shenzhen Index,ALL ORDINARIES,S&P BSE SENSEX,IBOVESPA,Dow 30,CAC 40,FTSE 100,DAX PERFORMANCE-INDEX,S&P 500,...,Nasdaq,Jakarta Composite Index,FTSE Bursa Malaysia KLCI,KOSPI Composite Index,MERVAL,IPC MEXICO,Nikkei 225,Russell 2000,STI Index,TSEC weighted index
Year,,,,,,,,,,,,,,,,,,,,,
2007,5261.562988,17700.419922,6421.000000,20286.990234,63886.0,13264.820312,5614.080078,6456.899902,8067.319824,1468.359985,...,2652.280029,2745.825928,1445.030029,1897.130005,2151.699951,29536.830078,15307.780273,766.030029,3482.300049,8506.248047
2008,1820.805054,6485.437012,3659.300049,9647.309570,37550.0,8776.389648,3217.969971,4434.200195,4810.200195,903.250000,...,1577.030029,1355.407959,876.750000,1124.469971,1079.699951,22380.320312,8859.559570,499.450012,1761.560059,4591.203125
2009,3277.138916,13699.816406,4882.700195,17464.810547,68588.0,10428.049805,3936.330078,5412.899902,5957.430176,1115.099976,...,2269.149902,2534.355957,1272.780029,1682.770020,2320.699951,32120.470703,10546.440430,625.390015,2879.760010,8188.079102
2010,2808.076904,12458.410156,4846.899902,20509.089844,69305.0,11577.509766,3850.760010,5899.899902,6914.189941,1257.640015,...,2652.870117,3703.511963,1518.910034,2051.000000,3523.600098,38243.140625,10228.919922,783.650024,3190.040039,8972.466797
2011,2199.416992,8918.720703,4111.000000,15454.919922,56754.0,12217.559570,3159.810059,5572.299805,5898.350098,1257.599976,...,2605.149902,3821.991943,1530.729980,1825.739990,2462.600098,37077.519531,8455.349609,740.919983,2646.350098,7072.054199
2012,2269.127930,9116.377930,4664.600098,19426.710938,60952.0,13104.139648,3620.250000,5897.799805,7612.390137,1426.189941,...,3019.510010,4316.687012,1688.949951,1997.050049,2854.300049,43705.828125,10395.179688,849.349976,3167.080078,7699.471191
2013,2115.978027,8121.699219,5353.100098,21170.679688,51507.0,16576.660156,4295.950195,6749.100098,9552.160156,1848.359985,...,4176.589844,4274.176758,1866.959961,2011.339966,5391.000000,42958.820312,16291.309570,1163.640015,3167.429932,8611.477539
2014,3234.677002,11014.497070,5388.600098,27499.419922,50007.0,17823.070312,4272.750000,6566.100098,9805.549805,2058.899902,...,4736.049805,5226.946777,1761.250000,1915.589966,8579.000000,43145.660156,17450.769531,1204.699951,3365.149902,9307.225586
2015,3539.181885,12664.748047,5344.600098,26117.539062,43350.0,17425.029297,4677.140137,6242.299805,10743.009766,2043.939941,...,5007.410156,4593.007812,1692.510010,1961.310059,11675.200195,42977.500000,19033.710938,1135.890015,2882.729980,8338.027344
2016,3103.636963,10177.025391,5719.100098,26626.460938,60227.0,19762.599609,4862.310059,7142.799805,11481.059570,2238.830078,...,5383.120117,5296.710938,1641.729980,2026.459961,16917.900391,45642.898438,19114.369141,1357.130005,2880.760010,9253.493164
2017,3307.172119,11040.407227,6167.299805,34056.828125,76402.0,24719.220703,5312.560059,7687.799805,12917.639648,2673.610107,...,6903.390137,6355.653809,1796.810059,2467.489990,29974.500000,49354.421875,22764.939453,1535.510010,3402.919922,10642.860352
2018,2493.895996,7239.790039,5709.399902,36068.328125,87887.0,23327.460938,4730.689941,6728.100098,10558.959961,2506.850098,...,6635.279785,6194.498047,1690.579956,2041.040039,30292.599609,41640.269531,20014.769531,1348.560059,3068.760010,9727.410156
2019,3050.124023,10430.769531,6802.399902,41253.738281,115964.0,28538.439453,5978.060059,7542.399902,13249.009766,3230.780029,...,8972.599609,6299.539062,1588.760010,2197.669922,41671.398438,43541.019531,23656.619141,1668.469971,3222.830078,11997.139648
2020,3473.069092,14470.679688,6850.600098,47751.328125,119306.0,30606.480469,5551.410156,6460.500000,13718.780273,3756.070068,...,12888.280273,5979.073242,1627.209961,2873.469971,51226.500000,44066.878906,27444.169922,1974.859985,2843.810059,14732.530273
2021,3639.780029,14857.349609,7779.200195,58253.820312,104822.0,36338.300781,7153.029785,7384.500000,15884.860352,4766.180176,...,15644.969727,6581.481934,1567.530029,2977.649902,83500.101562,53272.441406,28791.710938,2245.310059,3123.679932,18218.839844
2022,3089.260010,11015.990234,7221.700195,60840.738281,110031.0,33147.250000,6473.759766,7451.700195,13923.589844,3839.500000,...,10466.480469,6850.619141,1495.489990,2236.399902,202085.093750,48463.859375,26094.500000,1761.250000,3251.320068,14137.690430

In [8]:
#3.3 #3.1 Create month-end price dataframe including last date and chage colume name from ticker to index name
month_end = pd.date_range(s_d, e_d, freq='M')  # 월말 날짜 리스트를 구하기
df_m=pd.DataFrame(month_end)                    # 월말날자 리스트를 데이타프레임으로 만들기                                         
df_m.loc[len(df_m)]=df1.iloc[-1,0]   
df_m.columns=['Date']                
df_m=pd.merge(df_m,df1_all, how='left')    # 최종날자를 포함하고 있는 월말 날자 데이타프레임으로 합치기

df_m['Year']=df_m['Date'].dt.year
df_m['Month']=df_m['Date'].dt.month          # 날자에서 월항목을 추출하여 인덱스로 설정

df_m

,Date,000001.SS,399001.SZ,^AORD,^BSESN,^BVSP,^DJI,^FCHI,^FTSE,^GDAXI,...,^KLSE,^KS11,^MERV,^MXX,^N225,^RUT,^STI,^TWII,Year,Month
0,2007-12-31,5261.562988,17700.419922,6421.000000,20286.990234,63886.0,13264.820312,5614.080078,6456.899902,8067.319824,...,1445.030029,1897.130005,2151.699951,29536.830078,15307.780273,766.030029,3482.300049,8506.248047,2007,12
1,2008-01-31,4383.393066,15857.532227,5697.000000,17648.710938,59490.0,12650.360352,4869.790039,5879.799805,6851.750000,...,1393.250000,1624.680054,2007.300049,28793.640625,13592.469727,713.299988,2981.750000,7521.101562,2008,1
2,2008-02-29,4348.542969,15823.702148,5674.700195,17578.720703,63489.0,12266.389648,4790.660156,5884.299805,6748.129883,...,1357.400024,1711.619995,2162.199951,28918.519531,13603.019531,686.179993,3026.449951,8412.727539,2008,2
3,2008-03-31,3472.712891,13301.990234,5409.700195,15644.440430,60968.0,12262.889648,4707.069824,5702.100098,6534.970215,...,1247.520020,1703.989990,2103.699951,30912.990234,12525.540039,687.969971,3007.360107,8572.557617,2008,3
4,2008-04-30,3693.105957,13504.738281,5657.000000,17287.310547,67868.0,12820.129883,4996.540039,6087.299805,6948.819824,...,1279.859985,1825.469971,2095.500000,30281.410156,13849.990234,716.179993,3147.790039,8919.886719,2008,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,2022-09-30,3024.389893,10778.610352,6678.700195,57426.921875,110037.0,28725.509766,5762.339844,6893.799805,12114.360352,...,1394.630005,2155.489990,139115.093750,44626.800781,25937.210938,1664.719971,3130.239990,13424.580078,2022,9
178,2022-10-31,2893.479980,10397.040039,7054.799805,60746.589844,116037.0,32732.949219,6266.770020,7094.500000,13253.740234,...,1460.380005,2293.610107,149938.296875,49922.300781,27587.460938,1846.859985,3093.110107,12949.750000,2022,10
179,2022-11-30,3151.340088,11108.500000,7480.700195,63099.648438,112486.0,34589.769531,6738.549805,7573.100098,14397.040039,...,1488.800049,2472.530029,168525.296875,51684.859375,27968.990234,1886.579956,3290.489990,14879.549805,2022,11
180,2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022,12
181,2022-12-30,3089.260010,11015.990234,7221.700195,60840.738281,110031.0,33147.250000,6473.759766,7451.700195,13923.589844,...,1495.489990,2236.399902,202085.093750,48463.859375,26094.500000,1761.250000,3251.320068,14137.690430,2022,12

In [9]:
#3.4 Set month as index and change column name

df_mm=df_m.set_index(['Year','Month'], drop=True)      # Year, month columns set as index
df_mm=df_mm.iloc[:,1:]                                 # exclude date column
     
col_list_m=df_mm.columns.to_list()        # df_m 의 컬럼을 리스트로 만든다

df_name_m=pd.DataFrame(col_list_m)
df_name_m.columns=['Symbol']
df_name1_m=pd.merge(df_name_m, major_indices, how='left')
df_name1_m=df_name1_m['Name'].to_list()
df_mm.columns=df_name1_m
df_mm

            SSE Composite Index  Shenzhen Index  ALL ORDINARIES  \
Year Month
2007 12             5261.562988    17700.419922     6421.000000
2008 1              4383.393066    15857.532227     5697.000000
     2              4348.542969    15823.702148     5674.700195
     3              3472.712891    13301.990234     5409.700195
     4              3693.105957    13504.738281     5657.000000
...                         ...             ...             ...
2022 9              3024.389893    10778.610352     6678.700195
     10             2893.479980    10397.040039     7054.799805
     11             3151.340088    11108.500000     7480.700195
     12                     NaN             NaN             NaN
     12             3089.260010    11015.990234     7221.700195

            S&P BSE SENSEX  IBOVESPA        Dow 30       CAC 40     FTSE 100  \
Year Month
2007 12       20286.990234   63886.0  13264.820312  5614.080078  6456.899902
2008 1        17648.710938   59490.0  12650.360352  4869.790039  5879.799805
     2        17578.720703   63489.0  12266.389648  4790.660156  5884.299805
     3        15644.440430   60968.0  12262.889648  4707.069824  5702.100098
     4        17287.310547   67868.0  12820.129883  4996.540039  6087.299805
...                    ...       ...           ...          ...          ...
2022 9        57426.921875  110037.0  28725.509766  5762.339844  6893.799805
     10       60746.589844  116037.0  32732.949219  6266.770020  7094.500000
     11       63099.648438  112486.0  34589.769531  6738.549805  7573.100098
     12                NaN       NaN           NaN          NaN          NaN
     12       60840.738281  110031.0  33147.250000  6473.759766  7451.700195

            DAX PERFORMANCE-INDEX      S&P 500  ...        Nasdaq  \
Year Month                                      ...
2007 12               8067.319824  1468.359985  ...   2652.280029
2008 1                6851.750000  1378.550049  ...   2389.860107
     2                6748.129883  1330.630005  ...   2271.479980
     3                6534.970215  1322.699951  ...   2279.100098
     4                6948.819824  1385.589966  ...   2412.800049
...                           ...          ...  ...           ...
2022 9               12114.360352  3585.620117  ...  10575.620117
     10              13253.740234  3871.979980  ...  10988.150391
     11              14397.040039  4080.110107  ...  11468.000000
     12                       NaN          NaN  ...           NaN
     12              13923.589844  3839.500000  ...  10466.480469

            Jakarta Composite Index  FTSE Bursa Malaysia KLCI  \
Year Month
2007 12                 2745.825928               1445.030029
2008 1                  2627.250977               1393.250000
     2                  2721.944092               1357.400024
     3                  2447.299072               1247.520020
     4                  2304.516113               1279.859985
...                             ...                       ...
2022 9                  7040.797852               1394.630005
     10                 7098.890137               1460.380005
     11                 7081.312988               1488.800049
     12                         NaN                       NaN
     12                 6850.619141               1495.489990

            KOSPI Composite Index         MERVAL    IPC MEXICO    Nikkei 225  \
Year Month
2007 12               1897.130005    2151.699951  29536.830078  15307.780273
2008 1                1624.680054    2007.300049  28793.640625  13592.469727
     2                1711.619995    2162.199951  28918.519531  13603.019531
     3                1703.989990    2103.699951  30912.990234  12525.540039
     4                1825.469971    2095.500000  30281.410156  13849.990234
...                           ...            ...           ...           ...
2022 9                2155.489990  139115.093750  44626.800781  25937.210938
     10               2293.610107  149938.296875  49922.300781  27587.460938
     11               2472.530029  168525.296875  51684.859375  27968.990234
     12                       NaN            NaN           NaN           NaN
     12               2236.399902  202085.093750  48463.859375  26094.500000

            Russell 2000    STI Index  TSEC weighted index
Year Month
2007 12       766.030029  3482.300049          8506.248047
2008 1        713.299988  2981.750000          7521.101562
     2        686.179993  3026.449951          8412.727539
     3        687.969971  3007.360107          8572.557617
     4        716.179993  3147.790039          8919.886719
...                  ...          ...                  ...
2022 9       1664.719971  3130.239990         13424.580078
     10      1846.859985  3093.110107         12949.750000
     11      1886.579956  3290.489990         14879.549805
     12              NaN          NaN                  NaN
     12      1761.250000  3251.320068         14137.690430

[182 rows x 21 columns]

4. Export Dataframe to CSV file or Excel file
    - df1_all, df_y, df_m, df_mm

In [10]:
# 4.1 CSV file and Excel file
df1_all.to_csv('01_04 Index historical daily price for all date.csv')
df_y.to_csv('01_04 Year-end index price.csv')
df_m.to_csv('01_04 Month-end index price.csv')
df_mm.to_csv('01_04 Month-end by year index price.csv')

df1_all.to_excel('01_04 Index historical daily price for all date.xlsx')
df_y.to_excel('01_04 Year-end index price.xlsx')
df_m.to_excel('01_04 Month-end index price.xlsx')
df_mm.to_excel('01_04 Month-end by year index price.xlsx')