3.1 Return Calculation Practice
   - Simple return
     - 수식 : (End Price/Beginning Price) -1
       파이썬의 데이타프레임 시계열 데이터에서는 .pct_change() 수식을 쓸 수 있음

   - Log return
     - 수식 : log(last price / first price) or
              log(last price)-log(first price)

In [11]:
# Loading Python Packages to use 
import pandas as pd
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns

#download Apple stock price from Yahoo finance and create dataframe
df=pd.DataFrame(yf.download("AAPL", start='2018-12-31')['Adj Close'])
df

[*********************100%***********************]  1 of 1 completed

             Adj Close
Date
2018-12-31   37.951187
2019-01-02   37.994492
2019-01-03   34.209965
2019-01-04   35.670361
2019-01-07   35.590961
...                ...
2023-05-22  174.199997
2023-05-23  171.559998
2023-05-24  171.839996
2023-05-25  172.990005
2023-05-26  175.429993

[1110 rows x 1 columns]

In [12]:
# Calculate simple and log returns from above dataframe

# Simple return Calculation(same results with different ways)
df['simple return1'] = df['Adj Close']/df['Adj Close'].shift()-1
df['simple return2'] = df['Adj Close'].pct_change(1)

# Log Return Calculation(same results with different ways)

df['logReturn1']=np.log(df['Adj Close']/df['Adj Close'].shift(1))
df['logReturn2']=np.log(df['Adj Close'])-np.log(df['Adj Close'].shift(1))
df['logReturn3']=np.log(1+df['Adj Close'].pct_change(1))


# Log return cumulative return
df['logRcsum']=df['logReturn1'].cumsum()
df['recalculate price']=np.exp(df['logRcsum'])*df['Adj Close'][0]
df

,Adj Close,simple return1,simple return2,logReturn1,logReturn2,logReturn3,logRcsum,recalculate price
Date,,,,,,,,
2018-12-31,37.951187,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02,37.994492,0.001141,0.001141,0.001140,0.001140,0.001140,0.001140,37.994492
2019-01-03,34.209965,-0.099607,-0.099607,-0.104924,-0.104924,-0.104924,-0.103784,34.209965
2019-01-04,35.670361,0.042689,0.042689,0.041803,0.041803,0.041803,-0.061981,35.670361
2019-01-07,35.590961,-0.002226,-0.002226,-0.002228,-0.002228,-0.002228,-0.064209,35.590961
...,...,...,...,...,...,...,...,...
2023-05-22,174.199997,-0.005481,-0.005481,-0.005496,-0.005496,-0.005496,1.523903,174.199997
2023-05-23,171.559998,-0.015155,-0.015155,-0.015271,-0.015271,-0.015271,1.508632,171.559998
2023-05-24,171.839996,0.001632,0.001632,0.001631,0.001631,0.001631,1.510263,171.839996
2023-05-25,172.990005,0.006692,0.006692,0.006670,0.006670,0.006670,1.516933,172.990005
2023-05-26,175.429993,0.014105,0.014105,0.014006,0.014006,0.014006,1.530939,175.429993